html{
    background-color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
}
img{
    margin-left: 44%;
}
a{
    text-decoration: none;
}
a:hover{
    font-weight: 900;
    color:black;
    text-decoration: wavy;
}
#hist{
    text-align: justify;
}
#aaa{
    text-decoration: dotted;
    font-size: 250px;
    margin-left: 50%;
    transform: translate(0px, 0px);
}
#aaa:hover{
    text-decoration: dotted;
    font-size: 250px;
    margin-left: 50%;
    color: aqua;
    margin-left: 60%;
}